[Unit]
Description=Pigpio Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/pigpiod
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
